#{extends 'main.html' /}
#{set 'header'}&{'user.title'}#{/set}
#{set 'title'}&{'user.title'}#{/set}

<head>
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/user.css'}">
</head>

<div id=contentLeft>
	<div id="navigation">
		#{navigation calendars:calendars, connectedUser:connectedUser /}
	</div>
</div>

<div id=contentMiddle>
	<div id=calendars>
		#{listCalendars calendars:calendars, user:user, connectedUser:connectedUser /}
	</div>
</div>

<div id=contentRight>
	<div id="addCalendar">
		<h2>&{'user.addNewCal'}</h2>
		#{form @UserPage.addCalendar()}
			<input type="text" name="calendarName" />
			<input type="submit" value="&{'add'}">
		#{/form}
	</div>
	
	<div id=deleteAccount>
		<table>
			<tr>
				<td>
					#{form @UserPage.prepareDeleteAccount()} 
						<input type="image" src="/public/images/delete.png" 
						alt="&{'user.deleteAccount'}" title="&{'user.deleteAccount'}">
					#{/form}
				</td>
				<td>&nbsp;&{'user.deleteAccount'}</td>
			</tr>
		</table>
	</div>
	<div id="changeLanguage">
		<h2>&{'user.language'}</h2>
		#{form @UserPage.changeLanguage()}
			<select type="text" name="language" size="1" onChange="this.form.submit()">
					<option #{if (lang == "en")} selected #{/if} value="en">English</option>
					<option #{if (lang == "de")} selected #{/if} value="de">Deutsch</option>
					<option #{if (lang == "fr")} selected #{/if} value="fr">Français</option>
					<option #{if (lang == "ja")} selected #{/if} value="ja">日本語</option>
    		</select>
		#{/form}
	</div>
</div>