#{extends 'main.html' /}
#{set 'title'}&{'deleteEvent.title'}#{/set}
#{set 'header'}&{'deleteEvent.title'}#{/set}


<div id=contentLeft>
</div>

<div id=contentMiddle>
	<h2>&{'deleteEvent.areYouSure'}</h2>
	
	#{form @ModifyEvent.deleteWholeSeries()} 
		<input type="hidden" name="calendarName" value="${calendar.name}">
		<input type="hidden" name="id" value="${event.id}">
		<input type="submit" name="all" value="&{'deleteEvent.yesAllEvents'}">
	#{/form}
	
	#{form @ModifyEvent.deleteSingleSerialEvent()} 
		<input type="hidden" name="calendarName" value="${calendar.name}">
		<input type="hidden" name="id" value="${event.id}">
		<input type="submit" name="single" value="&{'deleteEvent.noJustInstance'}">
	#{/form}
	
	#{form @Application.currentCalendar()} 
		<input type="hidden" name="userName" value="${calendar.owner.name}">
		<input type="submit" name="cancel" value="&{'cancel'}">
	#{/form}
</div>



