#{extends 'main.html' /}
#{set title:'Edit Event' /}
#{set header:'Edit Event' /}

<head>
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/editEvent.css'}">
</head>

<div id=edit>
	<h2>Edit "${event.name}"</h2>
	<div id=forms>
	#{form @ModifyEvent.saveEditedEvent()}
		<input type="hidden" name="calendarName" value="${calendar.name}">
		<input type="hidden" name="id" value="${event.getId()}">
		<input type="hidden" name="wasSeries" value="${event.getSeries() != null}">
		<input type="hidden" name="oldStartDate" value="${event.start.format("dd.MM.yyyy HH:mm")}">
		<p>
			<label for="name">Event Name: </label> <br/>
			<input type="text" size="35%" name="name" value="${event.name}"/>
		</p>
		<p>
			<label for="startDate">Start Date: </label> <br/>
			<input type="text" size="35%" name="startDate" value="${event.start.format("dd.MM.yyyy HH:mm")}"/>
		</p>
		<p>
			<label for="duration">Duration (in minutes): </label> <br/>
			<input type="text" size="35%" name="duration" value="${(event.end.getTime()-event.start.getTime())/(1000*60)}"/>
		</p>
		<p>
			<textarea name="description" rows="5" cols="27"> ${event.description}</textarea>
		</p>
	</div>
	<div id=repetition>
		#{list items:visibilities, as:'vis'}
		<ul>
			<li> 
				<input type="radio" name="visibility" value="${vis.name}"/> ${vis.name}<br />
			</li>
		</ul>
		#{/list}
		<p>
			<label for="repetition">Repetition: </label> <br/>
			<input type="radio" name="repetition" value="never"  #{if repChecked[0]}checked="checked" #{/if}/> Never<br />
			<input type="radio" name="repetition" value="daily" #{if repChecked[1]}checked="checked"#{/if}/> Daily<br />
			<input type="radio" name="repetition" value="weekly" #{if repChecked[2]}checked="checked"#{/if}//> Weekly<br />
			<input type="radio" name="repetition" value="monthly"#{if repChecked[3]}checked="checked"#{/if}/ /> Monthly <br />	
		</p>
	
		<p>
			<input type="submit" value="Apply">
		</p>
	#{/form}
	#{form @Application.calendar()} 
			<input type="hidden" name="name" value="${calendar.name}">
			<input type="submit" name="add" value="Cancel">
	#{/form}
	</div>
	
	
</div>