#{extends 'main.html' /}
#{set title:'Edit Event' /}
#{set header:'Edit Event' /}

<head>
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/editEvent.css'}">
</head>

<div id=edit>
	<h2>Edit "${event.name}"</h2>
	<div id=forms>
	#{form @ModifyEvent.saveEditedEvent()}
		<input type="hidden" name="calendarName" value="${calendar.name}">
		<input type="hidden" name="id" value="${event.getId()}">
		<input type="hidden" name="wasSeries" value="${event.getSeries() != null}">
		<input type="hidden" name="oldStartDate" value="${event.start.format("dd.MM.yyyy HH:mm")}">
		<p>
			<label for="name">Event Name: </label> <br/>
			<input type="text" size="35%" name="name" value="${event.name}"/>
		</p>
		<p>
			<label for="startDate">Start Date: </label> <br/>
			<input type="text" size="35%" name="startDate" 
			placeholder="${event.start.format("dd.MM.yyyy HH:mm")}"
			value="${event.start.format("dd.MM.yyyy HH:mm")}"/>
		</p>
		<p>
			Duration:<br/>
					<input type="text" size="2%" name="dayDuration" 
					placeholder="${durations[0]}" value ="${durations[0]}"/>
					<label for="dayDuration">days</label>
					<input type="text" size="2%" name="hourDuration" 
					placeholder="${durations[1]}" value ="${durations[1]}"/>
					<label for="hourDuration">hours</label>
					<input type="text" size="2%" name="minDuration" 
					placeholder="${durations[2]}" value ="${durations[2]}"/>
					<label for="minDuration">min</label>
		</p>
		<p>
			<textarea name="description" rows="5" cols="27">${event.description}</textarea>
		</p>
	</div>
	<div id=repetition>
		Visibility:<br/>
		#{list items:visibilities, as:'vis'}
			<input type="radio" name="visibility" value="${vis}" 
			#{if event.visibility == vis}checked="checked"#{/if}/> 
			${vis.name}<br />
		#{/list}<br/>
		Repetition:<br/>
		<input type="radio" name="repetition" value="never"
		#{if (event.getSeries() == null)}checked="checked"#{/if}>
		never<br/>
		#{list items:repetitions, as:'rep'}
			<input type="radio" name="repetition" value="${rep}"
			#{if ((event.getSeries() != null) && (event.getSeries().repetition == rep))}checked="checked"#{/if}/>
			${rep.name}<br/>
		#{/list}
		<p>
			<input type="submit" value="Apply">
		</p>
	#{/form}
	#{form @Application.calendar()} 
			<input type="hidden" name="userName" value="${calendar.owner.getName()}">
			<input type="submit" name="add" value="Cancel">
	#{/form}
	</div>
	
	
</div>