#contentLeft {
	margin: 2em;
}

#contentMiddle {
	float: left;
	margin-left: 1.5em;
}

#calendarArea {
	width: auto;
	margin: 2em;
	overflow: auto;
}

#month {
}

#myContacts {
	float: left;
	width: 180px;
}

#selectedDay {
	margin-top: 1em;
	padding-left: 1em;
	border: thin solid grey;
	width: auto;
}

#createEvent {
	margin-top: 1em;
	padding-left: 1em;
	border: thin solid grey;
	overflow: auto;
}

#forms {
	float: left;
}

#repetition {
	float: left;
}