#contentLeft {
	float: left;
	margin: 1em;
}

#contentMiddle {
	float: left;
	margin-top: 1em;
}

#contentRight {
	float: left;
	margin-top: 1em;
}

#myContacts {
	border: thin solid grey;
	-moz-box-shadow: 3px 11px 10px #303030;
	-webkit-box-shadow: 3px 11px 10px #303030;
	box-shadow: 3px 11px 10px #303030;
	padding-left: 1em;
	float: left;
	width: 180px;
	padding-bottom: 0.5em;
	min-height: 259px;
	list-style: none;
}

#month {
	border: thin solid grey;
	-moz-box-shadow: 6px 10px 15px #303030;
	-webkit-box-shadow: 6px 10px 15px #303030;
	box-shadow: 6px 10px 15px #303030;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	min-height: 259px;
}

#selectedDay {
	border: thin solid grey;
	-moz-box-shadow: 6px 10px 15px #303030;
	-webkit-box-shadow: 6px 10px 15px #303030;
	box-shadow: 6px 10px 15px #303030;
	margin-top: 1em;
	padding-left: 1em;
	width: auto;
}

#createEvent {
	border: thin solid grey;
	-moz-box-shadow: 6px 10px 15px #303030;
	-webkit-box-shadow: 6px 10px 15px #303030;
	box-shadow: 6px 10px 15px #303030;
	margin-top: 1em;
	margin-bottom: 2em;
	padding-left: 1em;
	overflow: auto;
}

#forms {
	float: left;
}

#repetition {
	float: left;
	margin-left: 3em;
}
#visibility {
	float: left;
	margin-left: 3em;
}


#addToContacts {
	margin-left: 2em;
}