#user0 {
	background-color: blue;
}
#user1 {
	background-color: red;
}
#user2 {
	background-color: orange;
}
#user3 {
	background-color: olive;
}
#user4 {
	background-color: fuchsia;
}
#user5 {
	background-color: yellow;
}
/* No more than 6 styles needed, coz it repeats after 6 users*/