html, body {
	font:1em/1.4 Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	background-color: black;
	height: 100%;
}

h1 {
	font-size: 1.5em; 
}

h2 {
	font-size: 1.1em;
}

#content {
	background-color: white;
	width: 1000px;
	height: auto !important;
	min-height: 100%;
	margin: 0 auto;
	text-align: left;
	overflow: auto;
}

#header {
	background-color: gray;	
	overflow: auto;
}

#headline {
	width: 700px;
	float: left;
	font-size: 3em;
	text-align: center;
	padding-left: 3em;
}

#tools {
	width: 80px;
	float: right;
}