body {
	font:1em/1.4 Verdana, Arial, Helvetica, sans-serif;
}

#header {
	background-color: gray;	
}

#headline {
	loat: left;
	font-size: 3em;
}

#tools {
	float: right;
}

td {
	text-align: center;
}

td.public {
	font-weight: bold;
	text-decoration: underline;
}

td.private {
	font-weight: bold;
}

td.selected {
	background-color: yellow;
}

td.today {
	background-color: blue;
	color: white;
}
td a {
	text-decoration: inherit;
	color: inherit;
}