html, body {
	font:1em/1.4 Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	background-color: black;
	height: 100%;
}

#content {
	background-color: white;
	width: 800px;
	height: auto !important;
	min-height: 100%;
	margin: 0 auto;
	text-align: left;
	overflow: auto;
}

#header {
	background-color: gray;	
	overflow: auto;
}

#headline {
	width: 680px;
	float: left;
	font-size: 3em;
}

#tools {
	width: 80px;
	float: right;
}

td {
	text-align: center;
}

td.public {
	font-weight: bold;
	text-decoration: underline;
}

td.private {
	font-weight: bold;
}

td.selected {
	background-color: yellow;
}

td.today {
	background-color: blue;
	color: white;
}
td a {
	text-decoration: inherit;
	color: inherit;
}