table {
	border: thin solid grey;
}

td {
	text-align: center;
}

td.public {
	font-weight: bold;
	text-decoration: underline;
}

td.private {
	font-weight: bold;
}

td.selected {
	background-color: gray;
}

td.today {
	background-color: black;
	color: white;
}

td.contactEvent {
	color: #FF8000;
}
td a {
	text-decoration: inherit;
	color: inherit;
}