table {
	
}

th {
	text-align: center;
	background-color: black;
	color: white;
}

td {
	text-align: center;
	width: 70px;
	height:30px;
}

td.public {
	font-weight: bold;
	text-decoration: underline;
}

td.nonPublic {
	font-weight: bold;
}

td.selected {
	background-color: #A4A4A4;
}

td.contactEvent {
	background-color: #E8E8E8;
}

td.today {
	background-color: black;
	color: white;
}

td A {
	text-decoration: inherit;
	color: inherit;
	display: block;
	width: 100%;
}

td A:HOVER {
	font-size: 1.2em;
}

td A:ACTIVE {
	font-size: 0.9em;
}