html, body {
    background: #F0F0F0;
    font-family: 'Lucida grande', verdana, sans-serif;
}

#addUser {
    width: 500px;
    margin: 50px auto;
    text-align: left;
}
#addUser h1 {
    font-weight: bold;
    color: #111;
    text-align: center;
}

#addUser form {
    border: 10px solid #ccc;
    background: #fff;
    padding: 10px;
    text-align: left;
}

#username-field {
    margin-top: 10px !important;
}

#username-field label, #password-field label{
    display: block;
    width: 150px;
    float: left;
    text-align: right;
    margin-right: 5px;
    color: #333;
    font-size: 15px;
}

#username-field input {
    width: 200px;
    font-size: 13px;
}

#password-field input {
    width: 150px;
    font-size: 13px;
}

#signin-field input {
    margin-left: 155px;
    margin-top: 10px;
}