#{extends 'main.html' /}
#{set title:'Home' /}
#{set header:'Calendar' /}

<head>
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/index.css'}">
</head>

<div id=contentLeft>
	<div id="welcome">
		#{if mainCal != null}
			<table>
				<tr>
					<td>
						#{form @Application.currentCalendar(connectedUser.name)} 
							<input type="image" src="/public/images/calendar.png" 
							alt="View my calendars" title="View my calendars">
						#{/form}
					</td>
					<td>&nbsp;View my calendars</td>
				</tr>
			</table>		
		#{/if}
		#{else}
			<p>
				Hi ${connectedUser.name}! <br/> 
				Create your first calendar by clicking on
				'Manage my account' down below or click
				<a href="@{Application.user()}">right here</a>.
			</p> 
		#{/else}
		<table>
			<tr>
				<td>
					#{form @Application.user()} 
						<input type="image" src="/public/images/settings.png" 
						alt="Manage my account" title="Manage my account">
					#{/form} 
				</td>
				<td>Manage my account</td>
			</tr>
		</table>
	</div>
</div>

<div id="search">
	<p>Currently logged in as ${connectedUser.name}</p>
	<h5>Search for other users</h5>
	#{form @IndexPage.index()}
		<input type="text" name="searchRegex" placeholder="takes a java regex"/>
		&nbsp;
		<input type="image" src="/public/images/search.png" 
		alt ="search" title="search">
	#{/form}
	#{list items:foundUsers, as:'user'}
	<ul>
		#{if user != connectedUser}
			<li> 
				<a href="@{Application.currentCalendar(user.name)}">${user.name}</a>
			</li>
		#{/if}
	</ul>
	#{/list}
</div>

