#{extends 'main.html' /}
#{set title:'Home' /}
#{set header:'Calendar' /}

<head>
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/index.css'}">
</head>

<div id="welcome">
	<h1>Welcome to the ESE Calendaring app</h1>
	#{if mainCal != null}
		<p>
			<a href="@{Application.currentCalendar(connectedUser.name)}">View my Calendars</a> 
		</p>
	#{/if}
	#{else}
		You don't have any calendars at the moment
	#{/else}
	<p>
		<a href="@{Application.user(connectedUser.name)}">Manage my Calendars and Contacts</a> 
	</p>
	<p>
		<a href="@{IndexPage.deleteAccount()}">Delete this Account</a>
	</p>
</div>

<div id="search">
	<h4>Search for other users</h4>
	#{form @IndexPage.searchUser()}
		<input type="text" name="searchRegex" placeholder="takes a java regex"/>
		<input type="submit" value ="search">
	#{/form}
	#{list items:foundUsers, as:'user'}
	<ul>
		#{if user != connectedUser}
			<li> 
				<a href="@{Application.currentCalendar(user.name)}">${user.name}</a>
			</li>
		#{/if}
	</ul>
	#{/list}
</div>

