#{extends 'main.html' /}
#{set title:'Home' /}
<div id="header">
            <div id="logo">
                calendar
                         </div>
            <ul id="tools">
                <li>
                    <a href="@{Secure.logout()}">Log out</a>
                </li>
            </ul>
        </div>
<h1>Welcome to the ESE Calendaring app</h1>
Your Calendars are: <br/>

<ul>
	#{list items: userCalendars, as:'calendars'}
		<li><a href="calendar?name=${calendars.name}">${calendars.name}</a></li>
	#{/list}
</ul>
<p>

Calendars of other <a href="users"> users </a>
</p>

