#{extends 'main.html' /}
#{set title:'Home' /}
<div id="header">
            <div id="logo">
                calendar
                         </div>
            <ul id="tools">
                <li>
                    <a href="@{Secure.logout()}">Log out</a>
                </li>
            </ul>
        </div>
<h1>Welcome to the ESE Calendaring app</h1>
bla bla<br/>
Your Calendars are: <br/>

<ul>
	#{list items: userCalendars, as:'calendars'}
		<a href="calendar?name=${calendars.name}">${calendars.name}</a><br/>
	#{/list}
</ul>

The secret token (TODO: access control): ${token}<br/>
Event: ${event.name} -${event.start} -${event.end}<br/>
