#{extends 'main.html' /}
#{set title:'User' /}
<div id="header">
            <div id="logo">
                Users
                         </div>
            <ul id="tools">
                <li>
                    <a href="@{Secure.logout()}">Log out</a> <br/>
                </li>
                <li>    
                    <a href="/"> Home </a>
                </li>
            </ul>
        </div>
        
<h3> events of ${user.name}</h3>   
<ul>
	#{list items: otherCalendars, as:'calendar'}
		<i>${calendar.name} :</i><br/>
			<ul>
				#{list items: calendar.startDateSortedSet, as:'Events'}
					#{if Events.isPublic}									
						${Events.name}<br/>
					#{/if}					
				#{/list}
			</ul>
	#{/list}
</ul>  
        
      
<h4>Switch to another user</h4>
	#{list items: users, as:'User'}
		#{if User.name != user.name}
			<a href="user?name=${User.name}"> ${User.name}</a><br/>
		#{/if}
	#{/list}


