<h2>&{'addEvent.createNewEvent'}</h2>
	<div id=forms>
			#{form @ModifyEvent.createEvent()}
				<p>
					<label for="name">&{'addEvent.eventName'}</label> <br/>
					<input type="text" size="35%" name="name" placeholder="&{'addEvent.nameExample'}"/>
				</p>
				<p>
					<label for="startDate">&{'addEvent.startDate'}</label> <br/>
					<input type="text" size="35%" name="startDate" 
					placeholder="24.12.2011 20:00 (for example)"
					value="${_selectedDateString}"/>
				</p>
				<p>
					&{'addEvent.duration'}<br/>
					<input type="text" size="1" name="dayDuration" placeholder="0" value ="0"/>
					<label for="duration">&{'addEvent.days'}</label>
					<input type="text" size="1" name="hourDuration" placeholder="1" value ="1"/>
					<label for="duration">&{'addEvent.hours'}</label>
					<input type="text" size="1" name="minDuration" placeholder="0" value ="0"/>
					<label for="duration">&{'addEvent.minutes'}</label>
				</p>
				
				<p>
					<textarea name="description" rows="5" cols="35" placeholder="&{'addEvent.description'}"></textarea>
				</p>
	</div>
	<!-- We might wanna refactor this to the way this is dealt with in editEvent -->
	<div id=repetition>	
				<p>
					<label for="visibility">&{'addEvent.visibility'}</label> <br/>
					<input type="radio" name="visibility" value ="private" checked="checked" /> &{'visibility.PRIVATE'} <br/>
					<input type="radio" name="visibility" value ="public" /> &{'visibility.PUBLIC'} <br/>
					<input type="radio" name="visibility" value ="busy" /> &{'visibility.BUSY'} <br/>
					<input type="radio" name="visibility" value ="contactsonly" /> &{'visibility.CONTACTSONLY'} <br/>
					
				</p>
				<p>
						<label for="repetition">&{'addEvent.repetition'}</label> <br/>
						<input type="radio" name="repetition" value="never" checked="checked" /> &{'repetition.NEVER'}<br />
						<input type="radio" name="repetition" value="daily" /> &{'repetition.DAILY'}<br />
						<input type="radio" name="repetition" value="weekly" /> &{'repetition.WEEKLY'}<br />
						<input type="radio" name="repetition" value="monthly" /> &{'repetition.MONTHLY'} <br />	
				</p>
				<p>
					<label for="choseCalendar">&{'calendar'}: </label> <br/>
					<select type="text" name="calendarName" size="1">
						#{list items: _calendarIter, as:'cal'}
							<option>${cal.name}</option>
      					#{/list}
    				</select>
  				</p>
				<p>
					<input type="submit" value ="&{'addEvent.submit'}">
				</p>
	</div>	

			#{/form}