<ul>
#{list items: _iterator, as:'event'}
<!--  TODO: handle timezone correctly -->
%{
	eventOwner =  event.getCalendar().getOwner()
	rep = "Event"
	if (event.getSeries() != null)
		rep = "SerialEvent"
}% 
<li>
${event.name}<br/>
${event.start.format("HH:mm"+", "+"dd.MMM")} - ${event.end.format("HH:mm"+", "+"dd.MMM")}<br/>
(${event.visibility.name} ${rep} created by ${eventOwner.name})<br/>
Description: ${event.description}
#{if _connectedUser == eventOwner}
	<br/>
	<a href=@{ModifyEvent.editEvent(_calendar.name, event.getId(), 
		event.start.format("dd.MM.yyyy HH:mm"), event.getSeries() != null)}>Edit</a> | 
	<a href=@{ModifyEvent.deleteEvent(_calendar.name, event.getId(), 
		event.start.format("dd.MM.yyyy HH:mm"), event.getSeries() != null)}>Delete</a>
#{/if}
</li>
#{/list}
#{else} none #{/else}
</ul>