#{list items: _iterator, as:'event'}
<!--  TODO: handle timezone correctly -->
%{
	eventOwner =  event.getCalendar().getOwner()
	userNb = _myContacts.headSet(eventOwner).size()%6
	imgSrc = '/public/images/user' + userNb + '.png'
	rep = "Event"
	if (event.getSeries() != null)
		rep = "SerialEvent"
}% 
<ul style="list-style-image: url(${imgSrc});">
<li>
${event.name}<br/>
${event.start.format("HH:mm"+", "+"dd.MMM")} - ${event.end.format("HH:mm"+", "+"dd.MMM")}<br/>
(${event.visibility.name} ${rep} created by 
${eventOwner.name})<br/>
Description: ${event.description}
#{if _connectedUser == eventOwner}
	<br/>
	<a href=@{ModifyEvent.editEvent(_calendar.name, event.getId(), 
		event.start.format("dd.MM.yyyy HH:mm"), event.getSeries() != null)}>Edit</a> | 
	<a href=@{ModifyEvent.deleteEvent(_calendar.name, event.getId(), 
		event.start.format("dd.MM.yyyy HH:mm"), event.getSeries() != null)}>Delete</a>
#{/if}
</li>
</ul>
#{/list}
#{else} none #{/else}