<ul>#{list items: _iterator, as:'event'}
<!--  TODO: handle timezone correctly -->
%{
	eventOwner =  event.getCalendar().getOwner()
	rep = "Event"
	if (event.getSeries() != null)
		rep = "SerialEvent"
}% 
<li>
<!-- TODO: this should rather be resolved in controller -->
#{if (event.getVisibility().equals(ch.unibe.ese.calendar.Visibility.BUSY) && 
		(_user != eventOwner))}
	${eventOwner} is busy from ${event.start.format("HH:mm")} - ${event.end.format("HH:mm")}
#{/if}
#{else}
	${event.name}<br/>
	${event.start.format("HH:mm"+", "+"dd.MMM")} - ${event.end.format("HH:mm"+", "+"dd.MMM")}<br/>
	<!-- TODO: Radi fixes this toString statement -->
	(${event.getVisibility().toString()} ${rep} created by ${eventOwner.name})<br/>
	Description: ${event.description}
	#{if _user.name == eventOwner}
		<br/>
		<a href=@{ModifyEvent.editEvent(_calendar.name, event.getId(), 
			event.start.format("dd.MM.yyyy HH:mm"), event.getSeries() != null)}>Edit</a> | 
		<a href=@{ModifyEvent.deleteEvent(_calendar.name, event.getId(), 
			event.start.format("dd.MM.yyyy HH:mm"), event.getSeries() != null)}>Delete</a>
	#{/if}
#{/else}
</li>
#{/list}
#{else} none #{/else}
</ul>