<head>
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/month.css'}">
</head>

<table>
<tr>
<td><a href="@{Application.selectDate(_arg.calendar.name, 
-1, _arg.previousMonth, _arg.previousMonthYear)}">&lt;</a></td>
<td colspan="5"><h2>${_arg.monthLabel}</h2></td>
<td><a href="@{Application.selectDate(_arg.calendar.name, 
-1, _arg.nextMonth, _arg.nextMonthYear)}">></a></td>
</tr>
<tr>
#{list items:_arg.weekDaysLabels, as:'label'}
		<td>${label}</td>
#{/list}
</tr>
#{list items:_arg.weeks, as:'week'}
		<tr>
		#{list items:week, as:'day'}
		%{
			classValue = ""
			if (day.hasPublicEvents) { 
				classValue = "public"
			}
			if (day.hasPrivateEvents) { 
				classValue = classValue+" private"
			}
			if (day.today) { 
				classValue = classValue+" today"
			}
			if (day.selected) { 
				classValue = classValue+" selected"
			}
			if (day.hasContactEvents) {
				classValue = classValue+" contactEvent"
			}
		}%
		<td class="${classValue}"><a href="@{Application.selectDate(_arg.calendar.name, 
		day.dayOfMonth, day.month, day.year)}">${day.dayOfMonth}</a></td>
		#{/list}
		</tr>
#{/list}
</table>