<h2>My Contacts</h2>
#{form @Application.includeContacts()}
	#{list items:_myContacts, as:'contact'}
		%{
			userNb = _myContacts.headSet(contact).size()%6
			imgSrc='/public/images/user' + userNb + '.png'
			if (contact.name.equals(_connectedUser.name))
				con = "me"
			else
				con = contact.name
		}%
		
		<li> 
		<img src="${imgSrc}"
			width="15" height="15" alt="${userNb}" />
			<input type="checkbox" 
			name="checkedContacts[]" 
			value=${contact.name} 
			#{if _connectedUser.isContactSelected(contact)}checked="checked"#{/if}
			onClick="this.form.submit()">&nbsp;${con}
			<br>
		</li>
	#{/list}
#{/form}