<h2>&{'myContacts.myContacts'}</h2>
#{form @Application.includeContacts()}
<input type="hidden" name="calendarName" value="${_calendar.name}">
#{if _myContacts.isEmpty()}&{'myContacts.noContacts'}#{/if}
	#{list items:_myContacts, as:'contact'}
		%{
			userNb = _myContacts.headSet(contact).size()%6
			imgSrc='/public/images/user' + userNb + '.png'
		}%
		<input type="checkbox" 
		name="checkedContacts[]" 
		value="${contact.name}"
		#{if _connectedUser.isContactSelected(contact)}checked="checked"#{/if}
		onClick="this.form.submit()">
		&nbsp;
		<a href="@{Application.currentCalendar(contact.name)}">${contact.name}</a>
		<img src="${imgSrc}"
		width="15" height="15" alt="${userNb}" />
		<br>
	#{/list}
#{/form}