<h2>My Contacts</h2>
#{form @Application.includeContacts()}
    %{
    	counter = 1
    }%
	#{list items:_myContacts, as:'contact'}
		%{
			if (contact.name.equals(_connectedUser.name))
				con = "me"
			else
				con = contact.name
		}%
		
		<li id="user${counter++}"> 
			<input type="checkbox" 
			name="checkedContacts[]" 
			value=${contact.name} 
			#{if _connectedUser.isContactSelected(contact)}checked="checked"#{/if}
			onClick="this.form.submit()">&nbsp;${con}
			<br>
		</li>
	#{/list}
#{/form}