#{extends 'main.html' /}
#{set 'title'}&{'calendar.title', calendar.owner.name}#{/set}
#{set 'header'}&{'calendar.title', calendar.owner.name}#{/set}
<head>
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/calendar.css'}">
</head>

<div id=contentLeft>
	<div id=navigation>
		#{navigation calendars:myCalendars, connectedUser:connectedUser /}
	</div>
</div>

<div id=contentMiddle>
	<div id=month>
	#{month calendarBrowser /}
	</div>
	<div id=selectedDay>
	#{if searchRegex != null}
		<h2>&{'calendar.searchResultsFor', searchRegex}</h2>
		%{prevPage = curPage<=0 ?-1 :curPage-1}%
		%{prevPageLabel = curPage<=0 ? 
			"calendar.allEvents" : "calendar.previous"}%
		%{nextPage = curPage+1}%
		#{if curPage >= 0}
			#{a @CalendarPage.searchEvent(
				calendar.owner.name, calendar.name,
				searchRegex, prevPage)}&{prevPageLabel}#{/a} |
			&{'calendar.page', curPage} |
		#{/if}
		#{a @CalendarPage.searchEvent(
			calendar.owner.name, calendar.name,
			searchRegex, nextPage)} &{'calendar.next'} #{/a}
	#{/if}
	#{else}
		<h2>&{'calendar.eventsOn', calendarBrowser.dayLabel}</h2>
	#{/else}
	#{eventInfo myContacts:myContacts, iterator:iterator, calendar:calendar, connectedUser:connectedUser /}
	</div>
	#{if connectedUser.name == calendar.owner.name}
	<div id=createEvent>
		#{addEvent calendar:calendar, selectedDateString:selectedDateString, calendarIter:calendarIter /}
	</div>
	#{/if}
</div>

<div id=contentRight>
	<div id="searchEvent">
		#{searchEvent calendar:calendar /}
	</div>
	#{if connectedUser == calendar.owner}
		<div id=myCalendars>
			#{myCalendars myCalendars:myCalendars, calendar:calendar /}
			#{myContacts myContacts:myContacts, connectedUser:connectedUser, calendar:calendar /}
		</div>
	#{/if}
	#{else}
		<div id=otherUser>
			#{ifnot connectedUser.name == calendar.owner.name}
				#{if connectedUser.myContacts.containsKey(calendar.owner)}
					<br/>
					#{form @Contacts.removeFromContacts(calendar.owner.name)} 
						<input type="image" src="/public/images/removeContact.png" 
						alt="&{'calendar.removeContact'}" title="&{'calendar.removeContact'}">
					#{/form}
					<p>
						&{'calendar.removeContactMsg', calendar.owner.name} 
					</p>
				#{/if}
				#{else}
					<br/>
					#{form @Contacts.addToContacts(calendar.owner.name)} 
						<input type="image" src="/public/images/addContact.png" 
						alt="&{'calendar.addContact'}" title="&{'calendar.addContact'}">
					#{/form}
					<p>
						&{'calendar.addContactMsg', calendar.owner.name} 
					</p>
				#{/else}
			#{/ifnot}
		</div>
	#{/else}
</div>
