#{extends 'main.html' /}
#{set title:'Calendar' /}
#{set header:calendar.name /}

<head>
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/calendar.css'}">
</head>

<div id=contentLeft>
	#{if connectedUser == calendar.owner}
		<div id=myContacts>
			#{myContacts myContacts:myContacts, connectedUser:connectedUser, calendar:calendar /}
		</div>
	#{/if}
	#{else}
		<div id=otherUser>
			<h2>${calendar.owner.name}</h2>
		</div>
	#{/else}
</div>

<div id=contentMiddle>
	<div id=month>
	#{month calendarBrowser /}
	</div>
	<div id=selectedDay>
	<h2>Events on ${calendarBrowser.dayLabel}:</h2>
			#{eventInfo myContacts:myContacts, iterator:iterator, 
				calendar:calendar, connectedUser:connectedUser/}
	</div>
	#{if connectedUser.name == calendar.owner.name}
	<div id=createEvent>
		#{addEvent calendar:calendar, selectedDateString:selectedDateString /}
	</div>
	#{/if}
</div>

<div id=contentRight>
	#{if connectedUser.name != calendar.owner.name}
		<div id=addToContacts>
		#{if connectedUser.myContacts.containsKey(calendar.owner)}
			#{form @Application.removeFromContacts(calendar.owner.name)} 
				<input type="submit" name="add" value="remove from myContacts">
			#{/form}
		#{/if}
		#{else}
			#{form @Application.addToContacts(calendar.owner.name)} 
				<input type="submit" name="add" value="add to myContacts">
			#{/form}
		#{/else}
		</div>
	#{/if}
</div>
