#{extends 'main.html' /}
#{set title:'Calendar' /}
#{set header:calendar.name /}

<head>
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/calendar.css'}">
</head>
#{if user == calendar.owner}
	<div id=contentLeft>
		<div id=myContacts>
			#{myContacts myContacts:myContacts, user:user, calendar:calendar /}
		</div>
	</div>
#{/if}

<div id=contentMiddle>
	<div id=month>
	#{month calendarBrowser /}
	</div>
	<div id=selectedDay>
	<h2>Events on ${calendarBrowser.dayLabel}:</h2>
		<ul>#{list items: iterator, as:'event'}
			<!--  TODO: handle timezone correctly -->
			%{
				eventOwner = event.calendar.owner.name
				visibility = "private"
				if (event.hasType("Public")) 
					visibility = "public"
				if (event.hasType("Busy")) 
					visibility = "show as busy"
				rep = "Event"
				if (event.isASerie)
					rep = "SerialEvent"
			}% 
			<li>
			#{if (!event.hasType("Busy") || (user.name == eventOwner))}
				${event.start.format("HH:mm")} - ${event.end.format("HH:mm")} ${event.name} (${visibility} ${rep})<br/>
					Created by: ${eventOwner}
				
					#{if user.name == eventOwner}
						#{if !event.isASerie()}
						<br/>
							<a href=@{Application.editEvent(calendar.name, event.hashCode(), event.start.format("dd.MM.yyyy HH:mm"))}>Edit</a> | 
							<a href=@{Application.deleteEvent(calendar.name, event.hashCode(), event.start.format("dd.MM.yyyy HH:mm"))}>Delete</a>
						#{/if} 
					#{/if}
			#{/if}
			#{else}
				${eventOwner} is busy from ${event.start.format("HH:mm")} - ${event.end.format("HH:mm")}
			#{/else}

			</li>
			#{/list}
		</ul>
	</div>
	
	#{if user.name == calendar.owner.name}
	<div id=createEvent>
		<h2>Create a new Event</h2>
		<div id=forms>
				#{form @Application.createEvent()}
					<input type="hidden" name="calendarName" value="${calendar.name}">
					<p>
						<label for="name">Event Name: </label> <br/>
						<input type="text" size="35%" name="name" placeholder="Date with secretary (for example)"/>
					</p>
					<p>
						<label for="startDate">Start Date: </label> <br/>
						<input type="text" size="35%" name="startDate" placeholder="24.12.2011 20:00 (for example)"/>
					</p>
					<p>
						<label for="endDate">End Date: </label> <br/>
						<input type="text" size="35%" name="endDate" placeholder="24.12.2011 23:30 (for example)"/>
					</p>
					
					<p>
						<textarea name="description" rows="5" cols="27" > </textarea>
					</p>
		</div>
		<div id=repetition>	
					<p>
						<label for="visibility">Visibility: </label> <br/>
						<input type="radio" name="visibility" value ="private" checked="checked" /> Private <br/>
						<input type="radio" name="visibility" value ="public" /> Public <br/>
						<input type="radio" name="visibility" value ="busy" /> Show as busy <br/>
					</p>			
					<p>
							<label for="repetition">Repetition: </label> <br/>
							<input type="radio" name="repetition" value="never" checked="checked" /> Never<br />
							<input type="radio" name="repetition" value="daily" /> Daily<br />
							<input type="radio" name="repetition" value="weekly" /> Weekly<br />
							<input type="radio" name="repetition" value="monthly" /> Monthly <br />	
					</p>
					<p>
						<input type="submit" value ="create Event">
					</p>
		</div>				

				#{/form}
	</div>
	#{/if}
</div>

<div id=contentRight>
	#{if user.name != calendar.owner.name}
		<div id=addToContacts>
		#{if user.myContacts.containsKey(calendar.owner)}
			#{form @Application.removeFromContacts(calendar.name, calendar.owner.name)} 
				<input type="submit" name="add" value="remove from myContacts">
			#{/form}
		#{/if}
		#{else}
			#{form @Application.addToContacts(calendar.name, calendar.owner.name)} 
				<input type="submit" name="add" value="add to myContacts">
			#{/form}
		#{/else}
		</div>
	#{/if}
</div>
