#{extends 'main.html' /}
#{set title:'Calendar' /}
%{
	calendarOwner =  calendar.getOwner().getName() + "'s" + " " + "calendars";

}%
#{set header: calendarOwner/}

<head>
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/calendar.css'}">
</head>

<div id=contentLeft>
	<div id=month>
	#{month calendarBrowser /}
	</div>
	<div id=selectedDay>
	<h2>Events on ${calendarBrowser.dayLabel}:</h2>
			#{eventInfo myContacts:myContacts, iterator:iterator, calendar:calendar, connectedUser:connectedUser /}
	</div>
	#{if connectedUser.name == calendar.owner.name}
	<div id=createEvent>
		#{addEvent calendar:calendar, selectedDateString:selectedDateString, calendarIter:calendarIter /}
	</div>
	#{/if}
</div>

<div id=contentRight>
	#{if connectedUser == calendar.owner}
		<div id=myCalendars>
			#{myCalendars myCalendars:myCalendars, calendar:calendar /}
			#{myContacts myContacts:myContacts, connectedUser:connectedUser, calendar:calendar /}
		</div>
	#{/if}
	#{else}
		<div id=otherUser>
			<h2>${calendar.owner.name}</h2>
			#{ifnot connectedUser.name == calendar.owner.name}
				#{if connectedUser.myContacts.containsKey(calendar.owner)}
					#{form @Application.removeFromContacts(calendar.owner.name)} 
						<input type="submit" name="add" value="remove from myContacts">
					#{/form}
				#{/if}
				#{else}
					#{form @Application.addToContacts(calendar.owner.name)} 
						<input type="submit" name="add" value="add to myContacts">
					#{/form}
				#{/else}
			#{/ifnot}
		</div>
	#{/else}
	<div id=links>
		#{ifnot connectedUser.name == calendar.owner.name}
			<p>
				#{form @Application.currentCalendar(connectedUser.name)} 
					<input type="image" src="/public/images/calendar.png" 
					alt="View my calendars" title="View my calendars">
					&nbsp;&nbsp;View my calendars
				#{/form}
			</p>
		#{/ifnot}
		<p>
			#{form @Application.user()} 
				<input type="image" src="/public/images/settings.png" 
				alt="Manage my account" title="Manage my account">
				&nbsp;Manage my account
			#{/form}
		</p>
	</div>
</div>