#{extends 'main.html' /}
#{set title:'Edit Event' /}
#{set header:'Edit Event' /}

<head>
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/editEvent.css'}">
</head>

<div id=edit>
	<h2>Edit "${event.name}"</h2>
	#{form @Application.saveEditedEvent()}
		<input type="hidden" name="calendarName" value="${calendar.name}">
		<input type="hidden" name="hash" value="${event.hashCode()}">
		<input type="hidden" name="oldStartDate" value="${event.start.format("dd.MM.yyyy HH:mm")}">
		<p>
			<label for="name">Event Name: </label> <br/>
			<input type="text" size="35%" name="name" value="${event.name}"/>
		</p>
		<p>
			<label for="startDate">Start Date: </label> <br/>
			<input type="text" size="35%" name="startDate" value="${event.start.format("dd.MM.yyyy HH:mm")}"/>
		</p>
		<p>
			<label for="duration">Duration (in minutes): </label> <br/>
			<input type="text" size="35%" name="duration" value="${(event.end.getTime()-event.start.getTime())/(1000*60)}"/>
		</p>
		<p>
			<label for="visibility">Visibility: </label> <br/>
			<input type="radio" name="visibility" value ="private" #{if event.getVisibility() == visibilities[0]}checked="checked"#{/if} /> Private <br/>
			<input type="radio" name="visibility" value ="public" #{if event.getVisibility() == visibilities[1]}checked="checked"#{/if}/> Public <br/>
			<input type="radio" name="visibility" value ="busy" #{if event.getVisibility() == visibilities[2]}checked="checked"#{/if}/> Show as busy <br/>
		</p>
		<p>
			<textarea name="description" rows="5" cols="27"> ${event.description}</textarea>
		</p>
		<p>
			<input type="submit" value="Apply">
			#{form @Application.calendar(calendar.name)} 
				<input type="submit" name="add" value="Cancel">
			#{/form}
		</p>
	#{/form}
</div>