#{extends 'main.html' /}
#{set title:'Home' /}
#{set header:'Calendar' /}

<head>
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/index.css'}">
</head>

<h1>Welcome to the ESE Calendaring app</h1>
Your Calendars are: <br/>

<ul>
	#{list items: userCalendars, as:'calendar'}
		<li><a href="@{Application.currentCalendar(calendar.name)}">${calendar.name}</a></li>
	#{/list}
</ul>
<p>

Calendars of other <a href="@{Application.users()}"> users </a>
</p>

<h4>Search for other users</h4>
#{form @Application.searchUser()}
	<input type="text" name="name" placeholder="only exact match works"/>
	<input type="submit" value ="search">
#{/form}

<ul>
#{list items:foundUsers, as:'user'}
	<li> 
		<a href="user?name=${user}">${user}</a> 
		<a href=@{Application.addToContacts(user)}>add to myContacts</a>
	</li>
#{/list}
#{ifErrors} <p>Error(s) found!</p> #{/ifErrors}
</ul>