#{extends 'main.html' /}
#{set title:'User' /}
#{set header: 'Manage my account' /}

<head>
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/user.css'}">
</head>

<div id=contentLeft>
	<div id="navigation">
		#{navigation connectedUser:connectedUser /}
	</div>
</div>

<div id=contentMiddle>
	<div id=calendars>
		#{listCalendars calendars:calendars, user:user, connectedUser:connectedUser /}
	</div>
</div>

<div id=contentRight>
	<div id="addCalendar">
		<h2>Add a new Calendar</h2>
		#{form @Application.addCalendar()}
			<label for="name">Calendar Name </label> <br/>
			<input type="text" name="calendarName" />
			<input type="submit" value ="Add">
		#{/form}
	</div>
	
	<div id=deleteAccount>
		<p>
			#{form @IndexPage.prepareDeleteAccount()} 
				<input type="image" src="/public/images/delete.png" 
				alt="Delete my account" title="Delete my account">
				&nbsp;Delete my account
			#{/form}
		</p>
	</div>
</div>