#{extends 'main.html' /}
#{set title:'User' /}
#{set header: user.name /}

<head>
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/user.css'}">
</head>

<div id=contentLeft>
	<div id=userInfo>
		<h2>${user.name}</h2>
	</div>
</div>

<div id=contentMiddle>
	<div id=calendars>
		<h2>Calendars of ${user.name}</h3>   
		<ul>
			#{list items: otherCalendars, as:'calendar'}
				<p>
					<i><a href="@{Application.currentCalendar(calendar.name)}">${calendar.name}</a></i>
					#{if user == currentUser}
					<a href="@{Application.deleteCalendar(calendar.name)}">Delete</a>
					#{/if}
				</p>
			#{/list}
		</ul>  
		#{if user == currentUser}
			<h2>Calendars of your Contacts</h3> 
			#{list items: myContactsIterator, as:'contact'}
				#{ifnot contact == currentUser}
					<h2>Calendars of ${contact.userName}</h3> 
					- link to ${contact.userName}'s first calendar?
				#{/ifnot}
			#{/list}
		#{/if}
	</div>
</div>

#{if user == currentUser}
	<div id="addCalendar">
		<h4>Add a new Calendar</h4>
		#{form @Application.addCalendar()}
				<label for="name">Calendar Name </label> <br/>
				<input type="text" name="calendarName" />
				<input type="submit" value ="Add">
		#{/form}
	</div>
#{/if}